/* css 초기화 시작 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
html,
body {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  letter-spacing: -0.4px;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
/* css 초기화 끝 */

.wrap {
  width: 100%;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 0 40px;
}

/* header */
.header {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d2d1e;
}
.header .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  position: relative;
}
.header .logo img {
  width: 200px;
  height: 71px;
}

.nav {
  position: relative;
}

.nav > ul {
  display: flex;
  gap: 40px;
}
.nav > ul > li {
  position: relative;
  padding: 10px;
}
.nav > ul > li > a {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}
.nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #b38e5d;
  transition: all 0.3s;
  transform: translateX(50%);
}

.nav > ul > li:hover > a {
  color: #b38e5d;
}
